*{
    padding: 0;
    margin: 0;
}
.saved{
    height: 90vh;
    width: 70vw;
    background: linear-gradient(135deg, #2b5c70, #2b5c70, #2b5c70);
    position: relative;
    top: 30vh;
    left: 0vw;
    margin-top: 11rem;
    overflow: auto;
    text-align: center;
    box-shadow:  4px 4px rgba(0, 0, 0, 0.5);
    color:white;
}
.Togbut{
    height: 2rem;
     width: 4rem;
     margin: 1rem;
}